In [27]:
import pandas as pd
from pathlib import Path
school_data = Path("../Resources/schools_complete.csv")
student_data= Path("../Resources/students_complete.csv")
school_data_df=pd.read_csv(school_data)
student_data_df=pd.read_csv(student_data)
school_data_finished = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_finished.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [28]:
uniques_school= school_data_finished['school_name'].unique()
total_uniques_school= len(uniques_school)
total_uniques_school

15

In [29]:
total_number_students= school_data_finished['student_name'].count()
total_number_students

39170

In [30]:
total_number_budget= school_data_df['budget'].sum()
total_number_budget

24649428

In [31]:
average_math_score= student_data_df['math_score'].mean()
average_math_score

78.98537145774827

In [32]:
average_reading_score= student_data_df['reading_score'].mean()
average_reading_score

81.87784018381414

In [33]:
passing_reading= school_data_finished.loc[school_data_finished['reading_score']>=69]
passing_reading_count= passing_reading['Student ID'].count()
percentage_passing= (passing_reading_count/total_number_students)*100
percentage_passing

88.6392647434261

In [34]:
passing_math= school_data_finished.loc[school_data_finished['math_score']>=69]
passing_math_count= passing_math['Student ID'].count()
percentage_passing2= (passing_math_count/total_number_students)*100
percentage_passing2

77.51340311462855

In [35]:
overall_passing= school_data_finished[
    (school_data_finished['math_score']>=69) & (school_data_finished['reading_score']>=69)
].count()['student_name']
overall_passing_student=overall_passing/float(total_number_students)*100
overall_passing_student

69.62471279040082

In [36]:
district_summary = pd.DataFrame({
   "Total Schools": total_uniques_school ,
    "Total Students": f"{total_number_students:,}",
    "Total Budget": f"${total_number_budget:,.2f}",
    "Average Math Score": f"{average_math_score:.6f}",
    "Average Reading Score": f"{average_reading_score:.5f}",
    "% Passing Math": f"{percentage_passing2:.6f}",
    "% Passing Reading": f"{percentage_passing:.6f}",
    "% Overall Passing": f"{overall_passing_student: .6f}"
}, index=[0])
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,77.513403,88.639265,69.624713

In [37]:
school_name = school_data_finished.set_index('school_name').groupby(['school_name'])
school_name

In [38]:
school_ids=school_data_finished['School ID'].count()
school_ids

39170

In [39]:
school_type=school_data_finished.set_index('school_name')['type']

In [40]:
total_school_budget= school_data_finished.set_index('school_name')['budget']
total_school_budget

school_name
Huang High School     1910635
Huang High School     1910635
Huang High School     1910635
Huang High School     1910635
Huang High School     1910635
                       ...
Thomas High School    1043130
Thomas High School    1043130
Thomas High School    1043130
Thomas High School    1043130
Thomas High School    1043130
Name: budget, Length: 39170, dtype: int64

In [41]:
per_student=(school_data_finished.set_index('Student ID')['budget']/ school_data_finished.set_index('Student ID')['size'])
per_student

Student ID
0        655.0
1        655.0
2        655.0
3        655.0
4        655.0
         ...
39165    638.0
39166    638.0
39167    638.0
39168    638.0
39169    638.0
Length: 39170, dtype: float64

In [42]:
average_math_score= school_data_finished['math_score'].mean()
average_math_score

78.98537145774827

In [43]:
average_reading_score= school_data_finished['reading_score'].mean()
average_reading_score

81.87784018381414

In [44]:
passing_reading= school_data_finished.loc[school_data_finished['reading_score']>=69]
passing_reading_count= passing_reading['Student ID'].count()
percentage_passing= (passing_reading_count/total_number_students)*100
percentage_passing

88.6392647434261

In [45]:
passing_math= school_data_finished.loc[school_data_finished['math_score']>=69]
passing_math_count= passing_math['Student ID'].count()
percentage_passing2= (passing_math_count/total_number_students)*100
percentage_passing2

77.51340311462855

In [46]:
overall_passing= school_data_finished[
    (school_data_finished['math_score']>=69) & (school_data_finished['reading_score']>=69)
].count()['student_name']
overall_passing_student2= school_data_finished.groupby('school_name')['size']
overall_passing_student2

In [47]:
school_summary = pd.DataFrame({"School Type": school_type,
                                "Total Students": school_ids,
                                "Per Student Budget": per_student,
                                "Total School Budget": total_school_budget,
                                "Average Math Score": average_math_score,
                                "Average Reading Score": average_reading_score,
                                "% Passing Math": percentage_passing2,
                                "% Passing Reading": percentage_passing,
                                "% Overall Passing": overall_passing_student2
})

# Formatting
school_summary["School Type"] = school_summary["School Type"].map("${:,.2f}".format)
school_summary["Total Students"] = school_summary["Total Students"].map("${:,.2f}".format)
school_summary["Total School Budget"] = school_summary["Total School Budget"].map("${:,.2f}".format)
school_summary["Per Student Budget"] = school_summary["Per Student Budget"].map("${:,.2f}".format)
school_summary[ "Average Math Score"] = school_summary[ "Average Math Score"].map("${:,.2f}".format)
school_summary["Average Reading Score"] = school_summary["Average Reading Score"].map("${:,.2f}".format)
school_summary["% Passing Math"] = school_summary["% Passing Math"].map("${:,.2f}".format)
school_summary["% Passing Reading"] = school_summary["% Passing Reading"].map("${:,.2f}".format)
school_summary["% Overall Passing"] = school_summary["% Overall Passing"].map("${:,.2f}".format)



# Display the DataFrame
school_summary

ValueError: array length 15 does not match index length 78340

In [48]:
top_schools= school_summary.sort_values("% Overall Passing", ascending= False)

NameError: name 'school_summary' is not defined

In [49]:
ninth_grade_math = student_data_df.loc[student_data_df['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_grade_math = student_data_df.loc[student_data_df['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_grade_math = student_data_df.loc[student_data_df['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_grade_math = student_data_df.loc[student_data_df['grade'] == '12th'].groupby('school_name')["math_score"].mean()

math_scores = pd.DataFrame({
        "9th": ninth_grade_math,
        "10th": tenth_grade_math,
        "11th": eleventh_grade_math,
        "12th": twelfth_grade_math
})
math_scores = math_scores[['9th', '10th', '11th', '12th']]
math_scores.index.name = "School Name"

#show and format
math_scores.style.format({'9th': '{:.6f}', 
                          "10th": '{:.6f}', 
                          "11th": "{:.6f}", 
                          "12th": "{:.6f}"})

In [50]:
ninth_grade_reading = student_data_df.loc[student_data_df['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_grade_reading = student_data_df.loc[student_data_df['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_grade_reading = student_data_df.loc[student_data_df['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_grade_reading = student_data_df.loc[student_data_df['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

reading_scores = pd.DataFrame({
        "9th": ninth_grade_reading,
        "10th": tenth_grade_reading,
        "11th": eleventh_grade_reading,
        "12th": twelfth_grade_reading
})
reading_scores = reading_scores[['9th', '10th', '11th', '12th']]
reading_scores.index.name = "School Name"

#show and format
reading_scores.style.format({'9th': '{:.6f}', 
                          "10th": '{:.6f}', 
                          "11th": "{:.6f}", 
                          "12th": "{:.6f}"})

In [51]:
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]
school_data_finished['spending_bins'] = pd.cut(school_data_finished['budget']/school_data_finished['size'], spending_bins, labels)
school_spending =school_data_finished.groupby('spending_bins')

In [52]:
aver_math_scores= school_spending['math_score'].mean()
aver_reading_scores= school_spending['reading_score'].mean()

In [53]:
pass_math = school_data_finished[school_data_finished['math_score'] >= 69].groupby('spending_bins')['Student ID'].count()/school_spending['Student ID'].count()*100
pass_read = school_data_finished[school_data_finished['reading_score'] >= 69].groupby('spending_bins')['Student ID'].count()/school_spending['Student ID'].count()*100
overall = school_data_finished[(school_data_finished['reading_score'] >= 69) & (school_data_finished['math_score'] >=69)].count()['Student ID']

In [54]:
spending_summary = pd.DataFrame({
    "Average Math Score": aver_math_scores,
    "Average Reading Score": aver_reading_scores,
    "% Passing Math": pass_math,
    "% Passing Reading": pass_read,
    "% Overall Passing": overall
            
})
            
#reorder columns
spending_summary = spending_summary[[
    "Average Math Score",
    "Average Reading Score",
    "% Passing Math",
    "% Passing Reading",
    "% Overall Passing"
]]

spending_summary.index.name = "Per Student Budget"


#formating
spending_summary.style.format({'Average Math Score': '{:.2f}', 
                              'Average Reading Score': '{:.2f}', 
                              '% Passing Math': '{:.2f}', 
                              '% Passing Reading':'{:.2f}', 
                              '% Overall Passing': '{:.2f}'})

In [55]:
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [56]:
school_data_finished['size_bins'] = pd.cut(school_data_finished['size'], size_bins, labels = labels)

In [57]:
size = school_data_finished.groupby('size_bins')

In [58]:
avera_math_score = size['math_score'].mean()
avera_reading_score = size['reading_score'].mean()
pass_math_percent = school_data_finished[school_data_finished['math_score'] >= 69].groupby('size_bins')['Student ID'].count()/size['Student ID'].count()*100
pass_read_percent = school_data_finished[school_data_finished['reading_score'] >= 69].groupby('size_bins')['Student ID'].count()/size['Student ID'].count()*100
overall = school_data_finished[(school_data_finished['reading_score'] >= 69) & (school_data_finished['math_score'] >= 69)].groupby('size_bins')['Student ID'].count()/size['Student ID'].count()*100

In [59]:
size_summary = pd.DataFrame({
    "Average Math Score": avera_math_score,
    "Average Reading Score": avera_reading_score,
    "% Passing Math": pass_math,
    "% Passing Reading": pass_read,
    "% Overall Passing": overall
            
})
            
#reorder columns
size_summary = size_summary[[
    "Average Math Score",
    "Average Reading Score",
    "% Passing Math",
    "% Passing Reading",
    "% Overall Passing"
]]

size_summary.index.name = "Per Student Budget"


#formating
size_summary.style.format({'Average Math Score': '{:.2f}', 
                              'Average Reading Score': '{:.2f}', 
                              '% Passing Math': '{:.2f}', 
                              '% Passing Reading':'{:.2f}', 
                              '% Overall Passing': '{:.2f}'})

In [60]:
school_type=school_data_finished.groupby('type')

In [61]:
average_math_score = school_type['math_score'].mean()
average_reading_score = school_type['math_score'].mean()
pass_math_percent = school_data_finished[school_data_finished['math_score'] >= 69].groupby('type')['Student ID'].count()/school_type['Student ID'].count()*100
pass_read_percent = school_data_finished[school_data_finished['reading_score'] >= 69].groupby('type')['Student ID'].count()/school_type['Student ID'].count()*100
overall = school_data_finished[(school_data_finished['reading_score'] >= 69) & (school_data_finished['math_score'] >= 69)].groupby('type')['Student ID'].count()/school_type['Student ID'].count()*100

In [62]:
scores_schools_type = pd.DataFrame({
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    '% Passing Math': pass_math_percent,
    '% Passing Reading': pass_read_percent,
    "% Overall Passing": overall})
    
#reorder columns
scores_schools_type = scores_schools_type[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "% Overall Passing"
]]
scores_schools_type.index.name = "Type of School"


#formating
scores_schools_type.style.format({'Average Math Score': '{:.6f}', 
                              'Average Reading Score': '{:.6f}', 
                              '% Passing Math': '{:.6f}', 
                              '% Passing Reading':'{:.6f}', 
                              '% Overall Passing': '{:.6f}'})